<%= javascript_include_tag "clips/projects_manifest" %>
<%= stylesheet_link_tag "clips/manifest.css" %>

<div class='container-fluid'>
  <div class='row-fluid'>
    <div class='span12'>
      <h3>My snaps</h3>
      <% @clips.each do |clip| %>
        <a href='<%= clip_path(clip) %>'>
          
          <div class='row-fluid clip'>
            <div class='span5 clip_tumbnail'>
              <img src="<%= clip.video.thumbnail_large %>">
            </div>
           
            <div class='span7 clip_details'>
              <div class='row-fluid'>
                <div class='span12 clip_detail date bold'>
                  <%= time_ago_in_words (Time.parse(clip.date_string)) %> ago
                </div>

                <div class='span12 clip_detail time bold'>
                  <%= clip.time %>
                </div>
                <div class='span12 clip_detail speed_loc'>
                  <%= clip.speed %> mph &nbsp;&nbsp;<i class='icon-map-marker'></i> <%= clip.location %>
                </div>
                <div class='span12 clip_detail'>
                  <%= link_to 'Show', clip %>
                  <%= link_to 'Edit', edit_clip_path(clip) %>
                  <%= link_to 'Destroy', clip, method: :delete, data: { confirm: 'Are you sure?' } %>
                </div>
              </div>
            </div>
          </div>
        </a>
      <% end %>

    </div>
  </div>
</div>

<br />

<%= link_to 'New Clip', new_clip_path %>
