<p id="notice"><%= notice %></p>

<div class='container-fluid show'>
  <div class='row-fluid clip'>
    <div class='span12'>
      <div class='row-fluid'>
        
        <div class='span2 grey'>
          
          <div class='row-fluid '>
            <div class='span10 offset1'>
              <span class='pull-left'>
                <div class='sun'></div> fair
              </span>

              <span class='pull-right'>
                73<sup>o</sup> F
              </span>
            </div>
          </div>
          
          <div class='row-fluid'>
            <div class='span10 offset1 date' style='margin-top: -10px;'>
              <%= @clip.date_string %>
            </div>
          </div>
          
          <div class='row-fluid'>
            <div class='span10 offset1 time'>
              <%= @clip.time %>
            </div>
          </div>
          <div class='row-fluid' >
            <div class='span10 offset1' style='margin-top: -10px;margin-bottom: -17px;'>
              <div class='row-fluid'>
                <div class='speed span5' id='car_speed'>
                  35
                </div>
                <div class='span3 offset1 meter_div'>
                  <div class='row-fluid'>
                    <div class='span12'>
                      mph
                    </div>
                  </div>

                  <div class='row-fluid'>
                    <div class='span12'>
                      <div class='meter-icon'></div>
                    </div>
                  </div>

                </div>
              </div>    
            </div>
          </div>
          <div class='row-fluid share-div'>
            <a href='/clips/<%= @clip.id %>/share'>
              <div class='span5 offset4'>
                Share
              </div>
            </a>
          </div>
          <div class='row-fluid'>
            <div class='span12 map_div'>
              <img src="/assets/map-sample.png">
              <div id='car_top'></div>
            </div>
          </div>
        </div>
        <div class='video_div span10'>
          <iframe id="player1" src="<%= @clip.video.embed_url %>?api=1&player_id=player1" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>

          <div id='video_overlays'>
            <div>
              <span id='video_play_seconds'>23</span> Seconds
            </div>
            <div >
              lat long <span id='video_lat_long'>23/23</span>
            </div>
            <div id='video_speed'>
              23
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<%= link_to 'Edit', edit_clip_path(@clip) %> |
<%= link_to 'Back', clips_path %>


<script type="text/javascript">
$(document).ready(function(){
  window.speed = 35;
  window.car_top = 110;

  var iframe = $('#player1')[0],
  player = $f(iframe),
  status = $('.status');

  // When the player is ready, add listeners for pause, finish, and playProgress
  player.addEvent('ready', function() {
      player.addEvent('finish', onFinish);
      player.addEvent('play', onPlay);
      player.addEvent('playProgress', onPlayProgress);
  });

  function onFinish(id) {

  }

  function onPlay (id) {
    console.log('started')
  }

  function onPlayProgress(data, id) {
    speed_div = $('#car_speed')
    speed_div.html
    
    to_show = window.speed - 1
    
    if (to_show < 15){
      speed_div.addClass('orange');
    }

    if(to_show <= 5){
      speed_div.addClass('red').removeClass('orange');
    }
    
    if (parseInt(to_show) >= 0){
      speed_div.html(to_show);
      window.speed = to_show
      $('#car_top').css('top', (window.car_top - 2) + 'px');
      window.car_top = window.car_top - 2
    }
    
  }
});
</script>